@import url(https://fonts.googleapis.com/css?family=Roboto);
.image-hotspots-wrapper {
  font-size: 0;
}
.image-hotspots-wrapper .image-wrapper {
  position: relative;
  margin-bottom: 15px;
  line-height: 0;
  display: inline-block;
}
.image-hotspots-wrapper .image-wrapper img {
  padding: 0;
  margin: 0;
}
.image-hotspots-wrapper .hotspot-box {
  position: absolute;
}
.image-hotspots-wrapper .overlay {
  background: #000000;
  opacity: 0.3;
  position: absolute;
  display: none;
}
.image-hotspots-wrapper .labels .label,
.image-hotspots-tooltip {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.image-hotspots-wrapper .labels .label {
  display: inline-block;
  margin: 0 15px 0 0;
}
.image-hotspots-wrapper .label-title {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 10px;
}
.image-hotspots-wrapper .label-title a,
.image-hotspots-wrapper .label-title span {
  color: #5093B7;
  text-decoration: underline;
  border: none;
}
.image-hotspots-wrapper .label-title a:hover,
.image-hotspots-wrapper .label-title span:hover {
  color: #1A9385;
  text-decoration: none;
  cursor: default;
}
#tiptip_holder #tiptip_arrow #tiptip_arrow_inner {
  border-bottom-color: #1A9385;
}
#tiptip_holder #tiptip_content {
  background: none #1A9385;
  border: none;
  border-radius: 6px;
  text-shadow: none;
  box-shadow: none;
}
