/* Jcrop styling */
.jcrop-holder {
  line-height: 0;
  margin-bottom: 15px;
  display: none;
}
.image-hotspots-wrapper .jcrop-hline,
.image-hotspots-wrapper .jcrop-vline {
  background: #24AA98;
}
.image-hotspots-wrapper .jcrop-handle {
  background-color: #FFFFFF;
  border-color: #24AA98;
}
.toolbar #toolbar-bar {
  z-index: 1000;
}
/* Edit form */
.image-hotspots-wrapper .edit-form-wrapper {
  display: none;
  position: absolute;
  z-index: 50;
  border: 2px solid #959EA7;
  border-radius: 6px;
  padding: 5px;
  background-color: #F2F5F8;
}
.image-hotspots-wrapper .edit-form-wrapper .close-button {
  display: block;
  cursor: default;
  max-width: 200px;
  height: 12px;
  background: url(images/cross.png) no-repeat 100%;
  margin: 12px;
}
.image-hotspots-wrapper .edit-form-wrapper .edit-form {
  margin: 14px 22px;
}
.image-hotspots-wrapper .edit-form-wrapper .form-messages {
  max-width: 200px;
  color: #B83D4B;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.image-hotspots-wrapper .edit-form-wrapper input,
.image-hotspots-wrapper .edit-form-wrapper button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: block;
}
.image-hotspots-wrapper .edit-form-wrapper input {
  max-width: 200px;
  height: 32px;
  background-color: #FFFFFF;
  border: 2px solid #ACB4BC;
  border-radius: 6px;
  margin-bottom: 10px;
}
.image-hotspots-wrapper .edit-form-wrapper input::-webkit-input-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input::-moz-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input:-moz-placeholder,
.image-hotspots-wrapper .edit-form-wrapper input:-ms-input-placeholder{
  color:#ACB4BC;
}
.image-hotspots-wrapper .edit-form-wrapper button {
  color: #FFFFFF;
  background-color: #24AA98;
  padding: 9px 20px;
  border: none;
  border-radius: 6px;
  display: inline-block;
}
/* Action lables */
.image-hotspots-wrapper .labels .label-editor {
  display: inline-block;
}
.image-hotspots-wrapper .action {
  color: #65ABD0;
  background-color: #FFFFFF;
  border: 2px solid #65ABD0;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 9px 20px;
  display: inline-block;
  cursor: default;
}
.image-hotspots-wrapper .action.edit {
  margin-right: 10px;
}
.image-hotspots-wrapper .action.selected {
  color: #FFFFFF;
  background-color: #65ABD0;
}
.image-hotspots-wrapper .add-button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #24AA98;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  display: inline-block;
  cursor: default;
}
.ajax-progress-throbber {
  margin-left: 10px;
  display: inline-block;
}
.ajax-progress-throbber .throbber {
  font-size: 14px;
  padding: 1px 8px 2px;
}
